.App {
  font-family: sans-serif;
	text-align: center;
}

body {
  font-family: "Helvetica", sans-serif;
  background: rgb(65, 155, 240);
}

* {
  box-sizing: border-box;
}

.elemenNeo {
  border-radius: 20px;
  background: rgb(65, 155, 240);
  box-shadow: 8px 8px 15px rgb(57, 140, 218), -8px -8px 15px rgb(83, 164, 240);
}

.profileHeader {
	/* background: salmon; */
	width: 80%;
	margin: 0 auto;
	color: white;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.userProfile {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.userProfile > img {
	width: 50px;
	border-radius: 50px;
	margin-left: 20px;
	margin-right: 10px;
}

.song {
  margin: 70px auto;
  padding: 30px;
  min-width: 250px;
	max-width: 500px;
  height: 480px;
  text-align: center;
  color: white;
}

.song img {
  margin-bottom: 30px;
}

.btn {
	margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: none;
  font-weight: bold;
}

.btn:active {
  box-shadow: inset -3px -3px 10px 0 rgb(83, 164, 240),
    inset 3px 3px 10px 0 rgb(57, 140, 218);
  color: rgb(243, 179, 61);
}

.btnSelected {
	margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  color: rgb(172, 172, 172);
  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  box-shadow: inset -3px -3px 10px 0 rgb(83, 164, 240),
    inset 3px 3px 10px 0 rgb(57, 140, 218);
}

.container {
	text-align: center;
}

input[type=text] {
	width: 300px;
	height: 50px;
	border-radius: 20px;
	border: 1px solid white;
	margin: 20px 30px;
	font-size: 1.5rem;
}

textarea {
	width: 300px;
	height: 100px;
	border-radius: 20px;
	border: 1px solid white;
	margin: 20px 30px;
	font-size: 1.5rem;
}

.formCreatePlaylist {
	padding-top: 20px;
	padding-bottom: 20px;
	display:flex;
	flex-direction: column;
	width: 400px;
	margin: 20px 0;
	align-items: flex-start;
	height:400px;
}

.formCreatePlaylist label {
	margin: 0px 30px;
	color: white;
	font-size: 1.2rem;
}

.formCreatePlaylist button {
	margin-left: 30px;
}

.content {
	display: flex;
	/* background: salmon; */
	justify-content: space-around;
	margin: 10px auto;
	width: 80%;
	flex-wrap:wrap;
}

.albumImage {
	width: 200px;
}

.searchResult {
	overflow-y: scroll;
	height: 500px;
}