.App {
  font-family: sans-serif;
	text-align: center;
}

body {
  font-family: "Helvetica", sans-serif;
  background: rgb(65, 155, 240);
}

* {
  box-sizing: border-box;
}

.elemenNeo {
  border-radius: 20px;
  background: rgb(65, 155, 240);
  box-shadow: 8px 8px 15px rgb(57, 140, 218), -8px -8px 15px rgb(83, 164, 240);
}

.song {
  margin: 70px auto;
  padding: 30px;
  min-width: 250px;
	max-width: 500px;
  height: 600px;
  text-align: center;
  color: white;
}

.song img {
  margin-bottom: 30px;
}

.btn {
	margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: none;
  font-weight: bold;
}

.btn:active {
  box-shadow: inset -3px -3px 10px 0 rgb(83, 164, 240),
    inset 3px 3px 10px 0 rgb(57, 140, 218);
  color: rgb(243, 179, 61);
}

.btnSelected {
	margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  color: rgb(172, 172, 172);
  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  box-shadow: inset -3px -3px 10px 0 rgb(83, 164, 240),
    inset 3px 3px 10px 0 rgb(57, 140, 218);
}

.container {
	text-align: center;
}

form input[type=text] {
	width: 300px;
	height: 50px;
	border-radius: 20px;
	border: 1px solid white;
	margin: 20px 30px;
	font-size: 1.5rem;
}